<!DOCTYPE html>
<html>
  <head>
    <title> Notesweb | <%= @page_title || "mylayout" %></title>
    <%= stylesheet_link_tag('mylayout', :media => 'all') %>
  </head>
  <body>
    <div id="header">
      <h1>Notesweb</h1>
      <h4 align = "right"><%= link_to("Logout", {:controller => 'access', :action => 'logout'}, :class => 'back-link') %></h4>
    </div>
    <div id="main">
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
    </div>
  </body>
</html>
